@model AsignmentEcomerce.Shared.ProductVm
@using Microsoft.AspNetCore.Http
@using CustomerSite.Extentions

@inject IHttpContextAccessor HttpContextAccessor



@{
    ViewData["Title"] = "Details";
}


<!-- CSS here -->
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="assets/css/flaticon.css">
<link rel="stylesheet" href="assets/css/slicknav.css">
<link rel="stylesheet" href="assets/css/animate.min.css">
<link rel="stylesheet" href="assets/css/magnific-popup.css">
<link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
<link rel="stylesheet" href="assets/css/themify-icons.css">
<link rel="stylesheet" href="assets/css/slick.css">
<link rel="stylesheet" href="assets/css/nice-select.css">
<link rel="stylesheet" href="assets/css/style.css">


<div class="row">
    <div class="col-2"></div>
    <div class="col-4">
        <img src="@Config.ApiUrl/@Model.ImageUrl" class="card-img-top" alt="Image game." style="padding: 3rem" />
    </div>
    <div class="col-4" style="padding-top: 3rem">
        <h3 class="product-name">
            @Model.NameProduct
        </h3>
        <hr />
        <p>
            <span class="item-title">Category: @Model.NameProduct</span>
        </p>


        <p>
            <span class="item-title">Description: @Model.Description</span>
        </p>
        <p>
            <span class="item-title">Quantity: @Model.Quantity</span>
        </p>
        <p>
            <span class="item-title">Price: $@Model.UnitPrice</span>
        </p>
        <div class="add-to-box">
            @{ bool isInBag = false;
                List<int> lstCart = HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssShoppingCart");
                if (lstCart != null && lstCart.Contains(Model.IDProduct))
                {
                    isInBag = true;
                } }
            @if (Model.Quantity != 0)
            {
                @if (isInBag)
                {
                    <a asp-controller="ShoppingCart" asp-action="Remove" asp-route-id="@Model.IDProduct" class="btn btn-success">Remove</a> }
                else
                {
                    <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@Model.IDProduct" class="btn btn-primary">Add to cart!</a>} }
            else
            {
                @*<label class="btn btn-danger">Out stock </label>*@}
            <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@Model.IDProduct" class="btn btn-primary">Add to cart!</a>
        </div>

    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    @await Component.InvokeAsync("RatingProduct", new { IDProduct = Model.IDProduct })
}
@await Component.InvokeAsync("ShowRatingByProduct", new { id = Model.IDProduct })